	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #2056ac;
		font-family: 'Questrial', sans-serif;
		font-size: 10pt;
		color: rgba(0,0,0,.6);
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		color: #404040;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #2056ac;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	

	.container
	{
		margin: 0px auto;
		width: 100%;
	}

	#back1
	{
		overflow: hidden;
		background: #FFF;
		width: 100%;
	}
	#back2
	{
		overflow: hidden;
		background: #E3F0F7;
		width: 100%;
	}
	#back3
	{
		border-top: 20px solid rgba(255,255,255,0.08);
		width: 100%;
	}

	
/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 0.8em 2em;
		background: #64ABD1;
		line-height: 1.8em;
		letter-spacing: 1px;
		text-decoration: none;
		font-size: 1em;
		color: #FFF;
	}
		
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.8em;
	}
	
	.title .byline
	{
		font-size: 1.1em;
		color: #6F6F6F#;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		background: #2056ac;
		width: 100%;
		max-width: 1200px;
	}

	#header
	{
		text-align: center;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 8em 0em 4em 0em;
	}
	
	#logo h1
	{
		display: block;
		margin-bottom: 0.20em;
		padding: 0.20em 0.9em;
		font-size: 3.5em;
	}
	
	#logo a
	{
		text-decoration: none;
		color: #FFF;
	}
	
	#logo span
	{
		text-transform: uppercase;
		font-size: 2.90em;
		color: rgba(255,255,255,1);
	}

	#logo span a
	{
		color: rgba(255,255,255,0.8);
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		height: 60px;
		display: none;
	}
	
	#menu ul
	{
		display: inline-block;
		padding: 0em 2em;
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu li a, #menu li span
	{
		display: inline-block;
		padding: 0em 1.5em;
		text-decoration: none;
		font-size: 0.90em;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 60px;
		outline: 0;
		color: #FFF;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		background: #FFF;
		border-radius: 7px 7px 0px 0px;
		color: #2056ac;
	}
	
	.nav,.nav ul {
		list-style:none;
		margin:0;
		padding:0;
	}

	.nav {
		position:relative;
	}

	.nav ul {
		height:0;
		left:0;
		overflow:hidden;
		position:absolute;
		top:46px;
	}

	.nav li {
		position:relative;
	}

	.nav li a {
		-moz-transition:0.5s;
		-o-transition:0.5s;
		-webkit-transition:0.5s;
		background-color:#2056AC;
		border:1px solid #FFF;
		color:#FFF;
		display:block;
		font-size: 1.3em;
		font-weight: 600;
		line-height:35px;
		padding:5px 20px;
		text-decoration:none;
		transition:0.5s;
		text-align: center;
		max-width: 1200px;
	}

	.nav li:hover > a {
		background:#8CCA33;
		border-color:#2056AC;
		color:#FFF;
	}

	.nav li:hover ul.subs {
		height:auto;
		width:100%;
	}

	.nav ul li {
		-moz-transition:0.5s;
		-o-transition:0.5s;
		-webkit-transition:0.5s;
		opacity:0;
		transition:0.5s;
		width:100%;
	}

	.nav li ul li {
		-moz-transition-delay:0s;
		-o-transition-delay:0s;
		-webkit-transition-delay:0s;
		transition-delay:0s;
	}

	.nav li:hover ul li {
		opacity:1;
		-moz-transition-delay:0.5s;
		-o-transition-delay:0.5s;
		-webkit-transition-delay:0.5s;
		transition-delay:0.5s;
	}

	.nav ul li a {
		background:#2056AC;
		border-color:#FFF;
		color:#FFF;
		line-height:1px;
		-moz-transition:1.5s;
		-o-transition:1.5s;
		-webkit-transition:1.5s;
		transition:1.5s;
	}

	.nav li:hover ul li a {
		line-height:35px;
	}

	.nav ul li a:hover {
		background:#8CCA33;
	}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/


	.wrapper
	{
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		padding: 0em 0em 5em 0em;
		width: 100%;
		max-width: 1200px;
	}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		overflow: hidden;
		width: 83.3333333%;
		padding: 6em 8.33333333% 0em 8.33333333%;
		text-align: center;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	#footer
	{
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		padding: 5em 0em;
		text-align: center;
		max-width: 1200px;
		display: none;
	}
	#footer .fbox1,
	#footer .fbox2,
	#footer .fbox3
	{
		float: left;
		width: 26.666667%;
		padding: 0 3.333333%;
	}
	
	#footer .icon
	{
		display: block;
		margin-bottom: 1em;
		font-size: 3em;
	}

	
	#footer .title span
	{
		color: rgba(255,255,255,0.4);
	}
	#footer-small
	{		
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		padding: 5em 0em;
		text-align: center;
		max-width: 522px;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		padding: 5em 0em;
		text-align: center;
		max-width: 1200px;
	}
	
	#copyright p
	{
		letter-spacing: 1px;
		font-size: 0.90em;
		color: rgba(255,255,255,0.6);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.8);
	}

	.fc
	{
		border-top: 1px solid rgba(0,0,0,0.2);
		display: none;
	}
	
/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/


	#portfolio
	{
		overflow: hidden;
		padding-top: 3em;
		text-align: center;
	}
	
	#portfolio .box
	{
		text-align: center;
		color: rgba(0,0,0,0.5);
	}
	
	#portfolio h3
	{
		display: block;
		padding-bottom: 1em;
		font-size: 1em;
		color: rgba(0,0,0,0.6);
	}

	#portfolio .title
	{
		text-align: center;
	}

	#portfolio .title h2
	{
		color: rgba(0,0,0,0.8);
	}

	#portfolio .description{display: none;}
	
	.column1,
	.column2,
	.column3
	{	
		float: left;
		width: 26.666666667%;
		padding: 0 3.333333%;
	}

/*********************************************************************************/
/* Four Columns                                                                 */
/*********************************************************************************/

	#four-column
	{
		overflow: hidden;
		margin-top: 1em;
		padding-top: 1em;
		text-align: center;
		display: none;
	}
	
	#four-column h2
	{
		margin: 1em 0em;
		font-size: 1.5em;
		font-weight: 700;
	}
	
	#four-column #tbox1,
	#four-column #tbox2,
	#four-column #tbox3,
	#four-column #tbox4
	{
		width: 23.5%;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	#four-column #tbox1,
	#four-column #tbox2,
	#four-column #tbox3
	{
		float: left;
		margin-right: 2%;
	}
	#four-column #tbox4
	{
		float: right;
	}
	#four-column #b1,
	#four-column #b2,
	#four-column #b3,
	#four-column #b4
	{
		width: 23.5%;
		padding-top: 0px;
		padding-bottom: 4em;
	}
	#four-column #b1,
	#four-column #b2,
	#four-column #b3
	{
		float: left;
		margin-right: 2%;
	}
	#four-column #b4
	{
		float: right;
	}
	
	#four-column .description {display: none;}

	#four-column .title
	{
		text-align: center;
	}
	
	#four-column .title h2
	{
		font-size: 1.60em;
	}
	
	#four-column .title .byline
	{
		padding-top: 0.50em;
		font-size: 0.90em;
		color: #858585;
	}

	#four-column .arrow-down
	{
		border-top-color: #292929;
	}
	
	ul.tools
	{
		margin: 0;
		padding: 0em 0em 0em 0em;
		list-style: none;
	}
	
	ul.tools li
	{
		display: inline-block;
		padding: 0em .2em;
		font-size: 4em;
	}
	
	ul.tools li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.tools li a
	{
		color: #FFF;
	}
	
	ul.tools li a:before
	{
		display: inline-block;
		background: #1ABC9C;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		line-height: 120px;
		text-align: center;
		color: #FFFFFF;
	}

	#disqus_thread 
	{
  		padding: 10px 1.25%;
  		margin-top: 40px;
		margin-bottom: 20px;
		margin-right: auto;
		margin-left: auto;
		width: 96%
  		background-color: #ffffff;
  		-webkit-border-radius: 3px;
     		-moz-border-radius: 3px;
          		border-radius: 3px;
  		box-shadow: 0 0 0 1px rgba(187, 187, 187, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
		max-width: 600px;
	}
	#link1
	{
		display: none;
	}
	@media screen and (min-width: 523px) {
		.fc {display: block;}
		#footer {display: block;}
		#footer-small {display: none;}
		#link1{display: inline;}
		#link2{display: none;}
	}
	@media screen and (min-width: 555px) {
		.nav{display: none;}
		#menu{display: block;}
	}
	@media screen and (min-width: 640px) {
		#four-column {display: block;}
		#four-column .description { display: inline-block}
	}
	@media screen and (min-width: 960px){	
		body{font-size: 12pt;}
		#portfolio .description{display: inline-block;}
	}