<div id="back2" style="position:relative">
	<div id="footer" style="position:relative">
		<div class="container">
			<div class="fbox1">
				<span class="icon icon-map-marker"></span>
				<span>Room 122, No. 21 Students Apartment
					<br>Beihang University
					<br>No. 37 Xueyuan Road, Haidian District
					<br>Beijing, China 100191
				</span>
			</div>
			<div class="fbox1">
				<span class="icon icon-phone"></span>
				<span>
					Telephone: +86 15811120973
				</span>
			</div>
			<div class="fbox1">
				<span class="icon icon-envelope"></span>
				<span>tonghao1992@gmail.com</span>
			</div>
		</div>
	</div>
	<div id="footer-small">
		<ul>Email:<a href="mailto:tonghao1992@gmail.com">tonghao1992@gmail.com</a></ul>
		<ul>Homepage:<a href="http://michael-tong.com" target="_blank">Michael Tong</a></ul>
		<ul>Download:<a href="https://github.com/MichaelTong/OSCourseDesign/zipball/master">.zip</a> or <a href="https://github.com/MichaelTong/OSCourseDesign/tarball/master">.tar.gz</a></ul>
	</div>
</div>
<div id="back3" style="position:relative">
	<div id="copyright" style="position:relative">
		<p>Copyright (c) 2014 <a href="http://michael-tong.com/">Michael Tong</a>. All rights reserved.</p>
</div>
{% if page.comments %}{% include disqus_comments.html %}{% endif %}
