
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Undeviating 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140322

-->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Operating System Course Design, BUAA</title>
<meta name="keywords" content="Operating System, Code" />
<meta name="description" content="It's the home page for OS Course Design by Michael Tong" />
<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="{{ site.url }}default.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{ site.url }}fonts.css" rel="stylesheet" type="text/css" media="all" />

